@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 56% 99%;
    --foreground: 0 54% 2%;
    --muted: 180 15% 89%;
    --muted-foreground: 180 1% 35%;
    --popover: 0 56% 98%;
    --popover-foreground: 0 54% 1%;
    --card: 0 56% 98%;
    --card-foreground: 0 54% 1%;
    --border: 0 5% 90%;
    --input: 0 5% 90%;
    --primary: 0 15% 32%;
    --primary-foreground: 0 15% 92%;
    --secondary: 180 15% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 180 15% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 97% 29%;
    --destructive-foreground: 7 97% 89%;
    --ring: 0 15% 32%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 38% 0%;
    --foreground: 0 24% 97%;
    --muted: 180 15% 11%;
    --muted-foreground: 180 1% 65%;
    --popover: 0 0% 1%;
    --popover-foreground: 0 24% 98%;
    --card: 0 0% 1%;
    --card-foreground: 0 24% 98%;
    --border: 0 5% 13%;
    --input: 0 5% 13%;
    --primary: 0 15% 32%;
    --primary-foreground: 0 15% 92%;
    --secondary: 180 15% 32%;
    --secondary-foreground: 0 0% 100%;
    --accent: 180 15% 32%;
    --accent-foreground: 0 0% 100%;
    --destructive: 7 97% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 15% 32%;
  }
}



  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }